{%extends 'avocat/layout.html'%}
{%load static %}

						{%block content%}
								<center>
									<h1>Cabinet d'avocats 
									&nbsp </h1>
										<br>
										<h2> A PROPOS </p>
										<p> Ce systeme a ete conçu afin de gerer les informations du cabinets d'avocats</p>
								</center>
<style>
	.centre{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
</style>

					<p>		
									<img src="{% static 'image/Clotilde.jpg'%}" width="15%" height="200px" alt="image d'une balance" /*class="centre"*//>

									
								</p>
						
						{%endblock%}					
					