{% extends 'avocat/layout.html' %}

						{% block content %}
							<h1>Liste des Clients</h1>

							<div class="col-12 d-flex justify-content-end mb-2"> <a class="btn btn-primary sm " href="{% url 'client-add' %}">
								Nouveau client
						</a></div>
						
					  
								<table class="table table-bordered table-striped table-hover">
								  <thead class="table-dark">
									<tr>
										<th>Nom & Prenom</th>
										<th>Societe</th>
									  <th>Sexe</th>
									  <th>Adresse</th>
									  <th>numero CNI</th>
									  <th>Delivrée le</th>
									  <th>Qualité Du Client</th>
									  <th>Telephone</th>
                                      <th>Profession du Client</th>
									  <th>Actions</th>
									</tr>
								  </thead>
								  <tbody>            
									{% for client  in  clients %} 
									<tr class="success">
										<td>{{client.nom}}</td>
										<td>{{client.prenom}}</td>
										<td>{{client.sexe}}</td>
										<td>{{client.adresse}}</td>
										<td>{{client.number}}</td>
                                      <td>{{client.delivrate}}</td>
									  <td>{{client.qualite}}</td>
									  <td>{{client.tel}}</td>
									  <td>{{client.profession}}</td>
									  <td>
				 
										<a class="btn btn-outline-primary sm" href="{% url 'client-update' client.nom %}"> Editer</a>
										<a class="btn btn-outline-danger sm" href="{% url 'client-delete' client.nom %}"> Supprimer</a>

									</td>

									
									  
									</tr>
									{% endfor %}

									
					
								  </tbody>
								</table>

						{% endblock %}
