{% extends 'avocat/layout.html' %}

						{% block content %}
							<h1>Liste des Clients</h1>

							<div class="col-12 d-flex justify-content-end mb-2"> <a class="btn btn-primary sm " href="{% url 'client-add' %}">
								Nouveau client
						</a></div>
						
					  
								<table class="table table-bordered table-striped table-hover">
								  <thead class="table-dark">
									<tr>
									  <th>Nom </th>
                                      <th>Prenom</th>
									  <th>Sexe</th>
									  <th>Adresse</th>
									  <th>Telephone</th>
                                      <th>Profession du Client</th>
									  <th>Actions</th>
									</tr>
								  </thead>
								  <tbody>            
									{% for personnel  in  client %} 
									<tr class="success">
									  <td>{{personnel.nom}}</td>
									  <td>{{personnel.prenom}}</td>
									  <td>{{personnel.sexe}}</td>
									  <td>{{personnel.adresse}}</td>
                                      <td>{{personnel.tel}}</td>
									  <td>{{personnel.profession}}</td>
									  <td>
				 
										<a class="btn btn-outline-primary sm" href="#"> Editer</a>
										<a class="btn btn-outline-danger sm" href="#"> Supprimer</a>

									</td>

									
									  
									</tr>
									{% endfor %}

									
					
								  </tbody>
								</table>

						{% endblock %}
